<!DOCTYPE html>
<html ng-app="app">
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
</head>
<script src="../js/angularjs/angular.min.js"></script>
<body>
<!--js对象要么是值复制要么是引用复制,   字符串,数字,布尔型变量都是值复制,    数组,对象和函数是引用复制-->
<!--如果将模型对象的某个属性设置为字符串,它将会通过引用进行共享,因此在子$scope中修改属性也会影响父$scope中的这个属性-->
<div ng-controller="MyController">
    {{someModel.someValue}}
    <button ng-click="someAction()">Comm</button>
    <div ng-controller="ChildController">
        {{someModel.someValue}}
        <button ng-click="childAction()">Child</button>
    </div>
</div>
<script>
    angular.module("app",[])
            .controller("MyController", function ($scope) {
                $scope.someModel= {
                    someValue: "hello"
                }
                $scope.someAction= function () {
                    $scope.someModel.someValue="from parent";
                }
            })
            .controller("ChildController", function ($scope) {
                $scope.childAction= function () {
                    $scope.someModel.someValue="from child";
                }
            })
</script>
</body>
</html>