<!DOCTYPE html>
<html ng-app="app">
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
</head>
<script src="../js/angularjs/angular.min.js"></script>
<body>
<!--ng-click用来指定一个元素被点击时调用的方法或表达式-->
<div ng-controller="MyController">
    <button ng-click="count=count+1" ng-init="count=0">Increment</button>
    count:{{count}}
    <button ng-click="decrement()">Decrement</button>
</div>
<script>
    angular.module("app",[])
            .controller("MyController", function ($scope) {
                $scope.decrement= function () {
                    $scope.count=$scope.count-1;
                }
            })
</script>
</body>
</html>